slides > slide {
  font-family: "Source Sans Pro", arial, sans-serif;
}

.title-slide hgroup h1 {
  font-size: 55px;
  letter-spacing: -1px;
}

.title-slide hgroup p {
  font-size: 24px;
}

slides > slide > hgroup + article {
    margin-top: 20px;
}

.small {
  font-size: 80%;
}

.moresmall {
  font-size: 60%;
}

ul {
	position: relative;
	list-style: none;
/* margin-left: 0; */
/*	padding-left: 1.2em; */
}
ul li:before {
	content: "–";
	position: absolute;
	left: 0;
	font-weight: 650;
}
